.root {
    -fx-padding: 20px;
    -fx-background-image: url("images/background2.png");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
}

.sudoku-grid {
    -fx-hgap: 0px;
    -fx-vgap: 0px;
}

.sudoku-cell {
    -fx-pref-width: 70px;
    -fx-pref-height: 70px;
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.sudoku-cell:focused {
    -fx-border-color: #2196F3;
    -fx-border-width: 2px;
}

.button {
    -fx-pref-height: 40px;
    -fx-font-size: 0px;
    -fx-alignment: center;
    -fx-border-color: #fff;
    -fx-border-width: 3px;
    -fx-border-radius: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: white;           /* Color del texto */
    -fx-background-color: transparent;  /* Fondo del label, más gris que negro puro */
    -fx-padding: 6 12 6 12;         /* Espaciado interno */
    -fx-background-radius: 8px;     /* Bordes redondeados */
    -fx-border-color: white;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
}

#informationLabel {
    -fx-text-fill: #ff0000;
}

#resolvabilityInformationLabel {
    -fx-text-fill: #910000;
}